<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/userEdit.css" />
  <%- include('../partials/header') %>

    <body>
      <main>
        <h2>Nuevo Usuario</h2>

        <form action="/users" method="POST" enctype="multipart/form-data">
          <div class="detail-container">
            <div class="profile-image">
              <div class="title-card">
                <div class="title">
                  <h3>Avatar</h3>
                </div>
              </div>
              <!-- avatar -->
              <div class="avatar">
                <img id="img-user" class="avatar-img" src="/images/profile/default.webp" alt="" />
                <h3>JPG o PNG no mas grande de 5 MB</h3>

                <div class="imgFile">
                  <label for="image"><i class="fas fa-circle-plus fa-3x"></i></label>
                  <input type="file" name="image" id="image" class="form-input" accept="image/*" style="display: none"
                    onchange="document.getElementById('img-user').src = window.URL.createObjectURL(this.files[0])" />
                  <div id="file-upload-filename"></div>
                  <div></div>
                </div>
                <!-- <div class="btnUpload">
                <a href="/">Subir Imagen</a>
              </div> -->
              </div>
            </div>

            <div class="profile">
              <div class="title-card">
                <div class="title">
                  <h3>Datos</h3>
                </div>
              </div>
              <div class="form-elements">
                <div class="errors">
                  <% if (typeof errors !='undefined' ) { %>
                    <% errors.forEach(error=> { %>
                      <h4><i class="fa-solid fa-xmark"></i>
                        <%= error.msg %>
                      </h4>
                      <% }) %>
                        <% } %>
                </div>
                <div class="data">
                  <h4>Nombre</h4>
                </div>
                <input type="text" name="first_name" placeholder="Ingresa el nombre"
                  value="<%= typeof old != 'undefined' ? old.first_name : '' %>" />
                <div class="data">
                  <h4>Apellido</h4>
                </div>
                <input type="text" name="last_name" placeholder="Ingresa el apellido" required minlength="4"
                  value="<%= typeof old != 'undefined' ? old.last_name : '' %>" />
                <div class="data">
                  <h4>Email</h4>
                </div>
                <input type="email" name="email" placeholder="Ingresa un correo valido" required minlength="5"
                  value="<%= typeof old != 'undefined' ? old.email : '' %>" />
                <div class="data">
                  <h4>Pais</h4>
                </div>
                <select id="ddCountry" name="country">
                  <option value="">Selecciona el pais</option>
                  <option <%- typeof old !='undefined' && old.country=="usa" ? "selected" : "" %> value="usa">USA
                  </option>
                  <option <%- typeof old !='undefined' && old.country=="argentina" ? "selected" : "" %>
                    value="argentina">Argentina</option>
                  <option <%- typeof old !='undefined' && old.country=="peru" ? "selected" : "" %> value="peru">Peru
                  </option>
                </select>
                <div class="data">
                  <h4>Rol</h4>
                </div>
                <select id="ddRole" name="rol">
                  <option value="">Selecciona el rol</option>
                  <option <%- typeof old !='undefined' && old.rol=="admin" ? "selected" : "" %>
                    value="admin">Administrador</option>
                  <option <%- typeof old !='undefined' && old.rol=="artista" ? "selected" : "" %>
                    value="artista">Artista</option>
                  <option <%- typeof old !='undefined' && old.rol=="usuario" ? "selected" : "" %>
                    value="usuario">Usuario</option>
                </select>
                <div class="data">
                  <h4>Estado</h4>
                </div>
                <select id="ddStatus" name="status">
                  <option value="">Selecciona el estado</option>
                  <option <%- typeof old !='undefined' && old.status=="activo" ? "selected" : "" %>
                    value="activo">Activo</option>
                  <option <%- typeof old !='undefined' && old.status=="inactivo" ? "selected" : "" %>
                    value="inactivo">Inactivo</option>
                </select>
                <div class="data">
                  <h4>Password</h4>
                </div>
                <input id="pws" type="password" name="pws" placeholder="ingresa un password" required minlength="8"
                  value="<%= typeof old != 'undefined' ? old.pws : '' %>" />
                <input id="re-pws" type="password" name="re-pws" placeholder="Reingresa el password" required
                  minlength="8" value="<%= typeof old != 'undefined' ? old.pws : '' %>"
                  onChange="checkPasswordMatch();" />
              </div>
              <div class="btnEdit">
                <a href="/users"><i class="fa-solid fa-rotate-left"></i> Cancelar</a>
              </div>
              <div class="save">
                <button type="submit" class="btnSave">Guardar</button>
              </div>
            </div>
          </div>
        </form>
        <%- include('../partials/footer') %>
      </main>
      <script src="/js/users.js"></script>
    </body>

</html>